%h2=t :signup
= simple_form_for @user do |f|
  %legend=t :signup_message
  = f.input :login, :input_html => { :id => :srp_username }
  = f.input :password, :input_html => { :id => :srp_password }
  = f.input :password_confirmation, :input_html => {:id => :srp_password_confirmation}
  = f.input :password_verifier, :as => :hidden
  = f.input :password_salt, :as => :hidden, :input_html => {:value => "1234567890"}
  = f.button :submit, :value => t(:signup), :class => 'btn-primary' 
