%h2=t :signup
= simple_form_for @user do |f|
  %legend=t :signup_message
  = f.input :login
  = f.input :password
  = f.input :password_confirmation
  = #f.input :srp_url, :value => '/', :type => :hidden
  = #f.input :srp_server, :value => 'django', :type => :hidden
  = f.button :submit, :value => t(:signup), :class => 'btn-primary' 
